
# Ignore tout à la racine, sauf .gitignore et "wp-content"
*
!.gitignore
!wp-content
!bdd.sql
!readme.md


# Ignore le contenu de "wp-content" sauf "plugins", "themes" et "mu-plugins"
!wp-content/plugins
!wp-content/plugins/**
!wp-content/uploads
!wp-content/uploads/**
!wp-content/themes
!wp-content/themes/**
wp-content/themes/freerotation/node_modules
wp-content/themes/freerotation/node_modules/**
