.contact {
  padding: 1rem;
  @media screen and (min-width: 640px) {
    padding: 2rem;
  }
  @media screen and (min-width: 1020px) {
    padding: 3rem;
  }
  .cell {
    padding: 0rem 1rem;
    @media screen and (min-width: 640px) {
      padding: 0rem 2rem;
    }
    @media screen and (min-width: 1020px) {
      padding: 0rem 4rem;
    }
  }
  label {
    color: $grey-text;
    font-family: 'Roboto', sans-serif;
  }
  input, textarea {
    background-color: $grey;
    box-shadow: none;
    transition: 0.2s all ease-in-out;
    font-weight: 700;
    &:focus {
      border-color: $aqua;
      box-shadow: none;
      background-color: $grey;
    }
  }
}

