.page-id-101 #content  {
  .cell {
    padding: 1rem 2rem;
    ul:not(.accordion) {
      padding: 1rem 2rem;
      li {
        padding: 1rem;
      }
    }

  }
}

#wpgmza_map {
  margin: 1rem;
  }
